schemas/simulation.rng

<?xml version="1.0"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <choice>
            <notAllowed/>
            <element name="simulation">
                <oneOrMore>
                    <choice>
                        <element name="app">
                            <optional>
                                <attribute name="type">
                                    <data type="string"/>
                                </attribute>
                            </optional>
                        </element>
                        <empty/>
                        <oneOrMore>
                            <element name="robot">
                                <attribute name="type">
                                    <data type="string"/>
                                </attribute>
                                <choice>
                                    <ref name="anonymous4"/>
                                    <ref name="anonymous0"/>
                                </choice>
                                <choice>
                                    <ref name="anonymous4"/>
                                    <ref name="anonymous0"/>
                                </choice>
                            </element>
                        </oneOrMore>
                        <oneOrMore>
                            <element name="obstacle">
                                <choice>
                                    <ref name="anonymous1"/>
                                    <ref name="anonymous3"/>
                                </choice>
                                <choice>
                                    <ref name="anonymous1"/>
                                    <ref name="anonymous3"/>
                                </choice>
                            </element>
                        </oneOrMore>
                    </choice>
                </oneOrMore>
            </element>
        </choice>
    </start>
    <define name="anonymous0">
        <choice>
            <notAllowed/>
            <element name="pose">
                <attribute name="theta">
                    <data type="float"/>
                </attribute>
                <attribute name="y">
                    <data type="float"/>
                </attribute>
                <attribute name="x">
                    <data type="float"/>
                </attribute>
            </element>
        </choice>
    </define>
    <define name="anonymous1">
        <choice>
            <notAllowed/>
            <element name="pose">
                <attribute name="theta">
                    <data type="float"/>
                </attribute>
                <attribute name="y">
                    <data type="float"/>
                </attribute>
                <attribute name="x">
                    <data type="float"/>
                </attribute>
            </element>
        </choice>
    </define>
    <define name="anonymous2">
        <choice>
            <notAllowed/>
            <element name="point">
                <attribute name="y">
                    <data type="float"/>
                </attribute>
                <attribute name="x">
                    <data type="float"/>
                </attribute>
            </element>
        </choice>
    </define>
    <define name="anonymous3">
        <choice>
            <notAllowed/>
            <element name="geometry">
                <ref name="anonymous2"/>
                <ref name="anonymous2"/>
                <ref name="anonymous2"/>
                <zeroOrMore>
                    <ref name="anonymous2"/>
                </zeroOrMore>
            </element>
        </choice>
    </define>
    <define name="anonymous4">
        <choice>
            <notAllowed/>
            <element name="supervisor">
                <attribute name="type">
                    <data type="string"/>
                </attribute>
            </element>
        </choice>
    </define>
</grammar>
